:root {
  --text-color: #224;
  --bg-color: #ff7c25;

  font-family: Inter, 'Segoe UI', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  height: 100%;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  /* prevent zooming and panning */
  touch-action: none;
}

h1 {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: bold;
}

button {
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto white;
  outline-color: -webkit-focus-ring-color;
}

.button {
  border-radius: 12px;
  border: none;
  padding: 0.6em 1.2em;
  font-weight: 500;
  background-image: linear-gradient(to top, #FF512F 0%, #f07a19 51%, #FF512F 100%);
  background-size: auto 200%;
  transition: 0.5s;
  color: black;
  box-shadow: 1px 1.5px 1px rgba(140, 55, 6, 0.8);
}


.button:hover {
  background-position: bottom center;
}

hr {
  border-color: var(--border-color);
  border-block-start: none;
}

#root {
  height: 100%;
}
